.cartitems{
    margin: 70px 90px;
}
.cartitems hr{
    background: #e2e2e2;
    border: 0;
    height: 3px;
}
.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.cartitems-format{
   font-size: 17px;
   font-weight: 500;
}
.cartitem-producticon{
    height: 70px;
}
.cartitems-removeicon{
    cursor: pointer;
    width: 15px;
    margin: 0 30px;
}

.cartitems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: white;
    margin-left: 13px;
}
.cartitems-price{
    margin-left: 13px;
}

.cartitems-total{
    margin-left: 13px;
}